ul, li, h1, h2, h3, h4, p, img {
    padding: 0;
    margin: 0;
    border: 0;
}

ul {
    list-style: none;
}

.container {
    min-width: 450px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

@import "./utils/variables";
@import "./components/logo";
@import "./components/page-header";
@import "./components/page-footer";
@import "./components/index-hero";
@import "./components/index-qualities";
@import "./components/index-we-do";
@import "./components/index-team";
@import "./components/index-clients";
@import "./components/portfolio";

.section-header {
    @include font-set ($font-size: 28px, $font-weight: 700, $line-height: 33px, $color: $main-text-color);
}