.team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.team__background {
    background-color: $secondary-background-color;
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 94px;
        padding-bottom: 94px;
        padding-top: 94px;
    }
}



.team__member-card {
    display: block;
    max-width: 450px;
    margin-bottom: 30px;
    margin-right: 0;
    background-color: $main-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    @media screen and (max-width: 767px) {
        &:nth-child(4n) {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 768px) {
        max-width: 354px;
        &:nth-child(3), &:nth-child(4) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 1200px) {
        max-width: 270px;
        margin: 0;
    }
}


.team__mobile-member-image {
    display: block;
    width: 100%;
    height: auto;
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}



.team__card-content {
    padding-top: 30px;
}

.team__member-name {
    @include font-set ($font-weight: 500, $font-size: 16px, $line-height: 19px, $color: $main-text-color);
    padding-bottom: 10px;
}

.team__member-position {
    @include font-set ($font-size: 16px, $line-height: 19px, $color: $secondary-text-color);
}

.team__communications {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 44px;
    margin-top: 16px;
    margin-bottom: 24px;
    & li {
        margin: 0px;
        padding: 0;
        height: 20px;
    }
    & li:not(:last-child) {
        margin-right: 10px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
    }
}

.team__communications--referencing {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background-color: $main-color;
    transition: background-color $cubic-standard;
    &:hover, &:focus {
        background-color: $active-color;
        cursor: pointer;
    }
}

.network-icon {
    width: 20px;
    height: 20px;
    height: 20px;
    fill: $inactive-pict-color;
    transition: fill $cubic-standard;
    .team__communications--referencing:hover & {
        fill: $main-color;
    }
    .team__communications--referencing:focus & {
        fill: $main-color;
    }
}