.qualities {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    & h2 {
        display: none;
    }
}

.qualities__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & li {
        width: 270px;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:nth-child(4n) {
            margin-bottom: 0;
        } 
    }
    & svg {
        width: 70px;
        height: 70px;
    }
}

.qualities__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    background-color: $secondary-background-color;
    margin-bottom: 30px;
    transition: box-shadow $cubic-standard;
    border-radius: 4px;
}

.qualities__heading {
    @include font-set ($font-weight: 700, $text-align: left, $letter-spacing: 0.03em, $color: $main-text-color, $transform: uppercase);
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;

}

.qualities__text {
    @include font-set ($line-height: 24px, $text-align: left, $letter-spacing: 0.03em, $color: $secondary-text-color);
}