.client {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    & li {
        width: 46.66%;
        margin-bottom: 30px;
    }
    & li:nth-last-of-type(-n+2) {
        margin-bottom: 0px;
    }
    @media screen and (min-width: 768px) {
        margin-top: 30px;
        & li {
            width: 226px;
            margin-bottom: 30px;
        }
        & li:nth-child(4) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 1200px) {
        & li {
            width: 170px;
        }
    }
}

.client__card {
    display: block;
    width: 100%;
    border: 1px solid $inactive-pict-color;
    border-radius: 4px;
    transition: border-color $cubic-standard;
    &:hover, &:focus {
        border-color: $active-color;
        cursor: pointer;
    }
}

.client__pict {
    display: block;
    fill: $inactive-pict-color;
    width: 106px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
    transition: fill $cubic-standard;
    .client__card:hover & {
        fill: $active-color;
    }
    .client__card:focus & {
        fill: $active-color;
    }
}