%logo-default {
    @include font-set ($font-family: 'Raleway', $font-weight: 700, $font-size: 24px, $line-height: 28px);
    text-decoration: none;
}

.logo {
    @extend %logo-default;
    color: $contrast-color;
}

.logo__studio {
    @extend %logo-default;
    color: $main-color;
}

.logo__web {
    color: $active-color;
}

.logo__menu {
    display: none;
}

// %logo-default {
//     @include font-set ($font-family: 'Raleway', $font-weight: 700, $font-size: 26px, $line-height: 31px);
//     display: inline-block;
//     margin-right: 92px;
//     text-decoration: none;
//     @media screen and (min-width: 480px) and (max-width: 768px) {
//         @include font-set ($font-family: 'Raleway', $font-weight: 700, $font-size: 24px, $line-height: 28px);
//         margin-top: 15px;
//         margin-bottom: 15px;
//     }
// }